<div id="<%= dom_id shop %>">
  <p>
    <strong>Name:</strong>
    <%= shop.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= shop.email %>
  </p>

  <p>
    <strong>Retailer:</strong>
    <%= shop.retailer_id %>
  </p>

</div>
