  <div class="m-2 p-3 shadow">
    <div class="d-flex justify-content-between">
      <h1><%= shop.name %></h1>
      <div class="btn-group">
        <div>
          <%= link_to "Edit", edit_shop_path(@shop), class: "btn btn-warning btn-sm" %>
        </div>
        <div>
          <%= button_to "Destroy", @shop, method: :delete, class: "btn btn-danger btn-sm" %>
        </div>
      </div>
    </div>
    <div class="card p-3 m2">
      <%= shop.email %>
    </div>
  </div>