<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Retailer</th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= link_to shop.name, shop %></td>
        <td><%= shop.email %></td>
        <td><%= shop.retailer.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>