<h1>Editing shop</h1>

<%= render "edit_form", shop: @shop %>

<br>

<div>
  <%= link_to "Show this shop", @shop %> |
  <%= link_to "Back to #{@shop.retailer.customer}", @shop.retailer.customer %>
</div>
