<div class="row shadow m-2 p-3">
  <div class="row m-2">
    <div>
      <h1>New shop</h1>
    </div>
    <div>
      <div class="text-end"><%= link_to "Massive upload", "", class: "btn btn-warning " %></div>
    </div>
  </div>
  
  <div class="row m-2">
    <%= render "form", shop: @shop %>
  </div>
  
  <div class="row m-2">
    <%= link_to "Back to customer", customer_path(params[:customer_id]), class: "btn btn-dark" %>
  </div>
</div>


