<div class="row shadow m-2 p-3">
  <div class="row m-2">
    <h1>New shop</h1>
  </div>
  
  <div class="row m-2">
    <%= render "form", shop: @shop %>
  </div>
  
  <div class="row m-2">
    <%= link_to "Back to customer", customer_path(@shop.retailer.customer), class: "btn btn-dark" %>
  </div>
</div>


