
  <div class="row m-2 p-3">
    <p style="color: green"><%= notice %></p>
  </div>
  <div class="row shadow m-2 p-3">
    <div>
      <%= render @shop %>
    </div>
    <div class="row m-2 p-3">
      <%= link_to "Back to customer", customer_path(@shop.retailer.customer), class: "btn btn-dark" %>
    </div>
  </div>
</div>

