<div id="<%= dom_id retailer %>">
  <p>
    <strong>Name:</strong>
    <%= retailer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= retailer.email %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= retailer.customer_id %>
  </p>

</div>
