<div class="row m-2 p-3">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @retailers.each do |retailer| %>
        <tr>
          <td><%= link_to retailer.name, retailer %></td>
          <td><%= retailer.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
