<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @retailers.each do |retailer| %>
      <tr>
        <td><%= retailer.name %></td>
        <td><%= retailer.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>