<div class="row shadow m-2 p-3">
  <div class="row m-2">
    <h1>Editing <%= @retailer.name %></h1>
  </div>
  <div class="row m-2">
    <%= render "form", retailer: @retailer %>
  </div>
  <div class="row m-2">
    <%= link_to "Show this retailer", @retailer, class: "btn btn-primary" %> 
  </div>
  <div class="row m-2">
    <%= link_to "Back to customer", customer_path(@retailer.customer), class: "btn btn-dark" %>
  </div>
</div>

