<div class="row shadow m-2 p-3">
  <div class="row m-2">
    <div><h1>New retailer</h1></div>
    <div class="text-end">
      <%= render "modal_massive_import" %>
    </div>
  </div>
  
  <div class="row m-2">
    <%= render "form", retailer: @retailer %>
  </div>
  
  <div class="row m-2">
    <%= link_to "Back to customer", customer_path(params[:customer_id]), class: "btn btn-dark" %>
  </div>
</div>


