<% if @report.filter.present? %>
<div class="m-2 p-3">
  <h2><%= @report.columns.order(:id)[@report.filter.to_i].name %></h2>
  <strong><%= "#{@report.printers.length} elements" %></strong>
  <div class="m-2 row">
    <%= link_to "Select All", select_all_printers_path, class: "btn btn-primary" %>
  </div>
  <div class= "d-flex flex-wrap justify-content-center g-3">
    <% @printers.each do |printer| %>
      <div class="col-5 text-center m-1">      
        <%= link_to printer.name, printer_activate_path(printer),
        class: printer.active == true ? "btn btn-primary mx-1" : "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
