<div class="row m-2 p-3">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= link_to report.name, report %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
