<div class="row">
  <div class="col-3">
    <div class="row justify-content-center">
      <a href="" class="btn btn-primary">Uno</a>
      <a href="" class="btn btn-primary">Dos</a>
      <a href="" class="btn btn-primary">Tres</a>
    </div>
  </div>
  <div class="col-8 bg-secondary">
    <% if params[:step] == 1 %>
    
    <% elsif params[:step] == 2 %>

    <% elsif params[:step] == 3 %>

    <% end %>
  </div>
</div>
