<div class="row shadow m-2 p-3">
  <div class="row m-2">
    <h1>New report</h1>
  </div>
  
  <div class="row m-2">
    <%= render "form", report: @report %>
  </div>
  
  <div class="row m-2">
    <%= link_to "Back to customer", customer_path(params[:customer_id]), class: "btn btn-dark" %>
  </div>
</div>


